@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    @apply transition-colors duration-1000;
}

body {
    @apply h-dvh flex flex-col;
}

@layer base {
    :root {
        --background: 262.1 100% 95%;
        --foreground: 262.1 5% 0%;
        --card: 262.1 50% 90%;
        --card-foreground: 262.1 5% 10%;
        --popover: 262.1 100% 95%;
        --popover-foreground: 262.1 100% 0%;
        --primary: 262.1 88.3% 57.8%;
        --primary-foreground: 0 0% 100%;
        --secondary: 262.1 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 224 30% 85%;
        --muted-foreground: 262.1 5% 35%;
        --accent: 224 30% 80%;
        --accent-foreground: 262.1 5% 10%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 262.1 5% 90%;
        --border: 262.1 30% 50%;
        --input: 262.1 30% 18%;
        --ring: 262.1 88.3% 57.8%;
        --radius: 0.5rem;
        --transition-duration: 1s;
    }

    .dark {
        --background: 262.1 50% 5%;
        --foreground: 262.1 5% 90%;
        --card: 262.1 50% 0%;
        --card-foreground: 262.1 5% 90%;
        --popover: 262.1 50% 5%;
        --popover-foreground: 262.1 5% 90%;
        --primary: 262.1 88.3% 57.8%;
        --primary-foreground: 0 0% 100%;
        --secondary: 262.1 30% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 224 30% 15%;
        --muted-foreground: 262.1 5% 60%;
        --accent: 224 30% 15%;
        --accent-foreground: 262.1 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 262.1 5% 90%;
        --border: 262.1 30% 18%;
        --input: 262.1 30% 18%;
        --ring: 262.1 88.3% 57.8%;
        --radius: 0.5rem;
        --transition-duration: 1s;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.theme-transition {
    transition:
        background-color var(--transition-duration),
        color var(--transition-duration);
}

.zegle {
    @apply p-4 w-full;
}
.zegle-header {
    @apply text-2xl text-purple-500 font-bold;
}
.zegle-subtext {
    @apply text-xs;
}

.navbar,
.navbar-navigation,
.navbar-navigation-routes,
.navbar-navigation-buttons {
    @apply flex gap-3 sm:gap-4 items-center justify-between;
}

.navbar {
    @apply p-4 gap-10 border-b-gray-500 border-b-2 border-opacity-15;
}

.navbar-navigation {
    @apply w-full  flex-col sm:flex-row justify-between;
}

.navbar-navigation-routes {
    @apply flex flex-col sm:flex-row items-center gap-6 text-sm font-bold sm:font-normal xl:gap-8 w-full sm:w-min;
}

@media only screen and (max-width: 640px) {
    .navbar-navigation-buttons {
        display: grid;
        width: 80%;
        gap: 0.5rem;
        grid-template-areas:
            "switch switch signup signup"
            "login login login login";
    }
    .navbar-navigation-buttons-themeSwitch {
        grid-area: switch;
        width: 100%;
    }
    .navbar-navigation-buttons-signup {
        grid-area: signup;
        width: 100%;
    }
    .navbar-navigation-buttons-login {
        grid-area: login;
        width: 100%;
    }
}

.navbar-navigation-routes-link {
    @apply w-[80%] text-right sm:text-center border-b-[1px] sm:border-0;
}
