@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-dvh max-w-[1440px] mx-auto flex flex-col;
}

@layer base {
    :root {
        --background: 243.4 0% 95%;
        --foreground: 243.4 0% 0%;
        --card: 243.4 0% 90%;
        --card-foreground: 243.4 0% 10%;
        --popover: 243.4 0% 95%;
        --popover-foreground: 243.4 95% 0%;
        --primary: 243.4 75.4% 58.6%;
        --primary-foreground: 0 0% 100%;
        --secondary: 243.4 10% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 205.4 10% 85%;
        --muted-foreground: 243.4 0% 35%;
        --accent: 205.4 10% 80%;
        --accent-foreground: 243.4 0% 10%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 243.4 0% 90%;
        --border: 243.4 20% 50%;
        --input: 243.4 20% 18%;
        --ring: 243.4 75.4% 58.6%;
        --radius: 0.3rem;
    }

    .dark {
        --background: 243.4 10% 5%;
        --foreground: 243.4 0% 90%;
        --card: 243.4 0% 0%;
        --card-foreground: 243.4 0% 90%;
        --popover: 243.4 10% 5%;
        --popover-foreground: 243.4 0% 90%;
        --primary: 243.4 75.4% 58.6%;
        --primary-foreground: 0 0% 100%;
        --secondary: 243.4 10% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: 205.4 10% 15%;
        --muted-foreground: 243.4 0% 60%;
        --accent: 205.4 10% 15%;
        --accent-foreground: 243.4 0% 90%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 243.4 0% 90%;
        --border: 243.4 20% 18%;
        --input: 243.4 20% 18%;
        --ring: 243.4 75.4% 58.6%;
        --radius: 0.3rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.theme-transition {
    transition:
        background-color var(--transition-duration),
        color var(--transition-duration);
}

.zegle {
    @apply p-4 w-full;
}

.zegle-header {
    @apply text-3xl text-primary font-bold;
}

.zegle-subtext {
    @apply text-sm;
}

.navbar,
.navbar-navigation,
.navbar-navigation-routes,
.navbar-navigation-buttons {
    @apply flex gap-3 sm:gap-2 items-center justify-between;
}

.navbar {
    @apply p-4 h-[64px] gap-10 border-b-gray-500 border-b-2 border-opacity-15;
}

.navbar-navigation {
    @apply w-full flex-col sm:flex-row justify-between;
}

.navbar-navigation-routes {
    @apply flex flex-col sm:flex-row items-center gap-6 text-base font-bold sm:font-normal xl:gap-8 w-full sm:w-min;
}

.navbar-navigation-routes-link {
    @apply w-[80%] text-right sm:text-center border-b-[1px] sm:border-0;
}

.navbar-navigation-buttons-themeSwitch {
    @apply items-center space-x-2 bg-transparent hover:bg-transparent border-[1px];
}

.navbar-mobile-navigation-text {
    @apply text-left text-2xl opacity-85 font-extrabold;
}
